@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background-color: #00001d;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-size: 35px;
    font-weight: normal;
}
a {text-decoration: none;}
.half {
  position: absolute;
  width: 50%;
  top: 0;
  left: 1vh;
}
.search input {
    background-color: #000043;
    border: none;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
    border-radius: 25px;
    position: absolute;
    right: 1vh;
}
.apps {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;  
}
.btn button {
    background-color: #000043;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 20px;
    right: 1vh;
    bottom: 1vh;
    font-weight: bold;
    position: absolute;
    width: 59px;
    transition: all .2s ease-in-out; 
}
.btn button:hover {
    cursor: pointer;
    transform: scale(1.1); 
}
.sign {
    left: 1vh;
    bottom: 1vh;
    position: absolute;
}
.sign a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}
.sign a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.btn2 button {
    background-color: #000043;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 20px;
    font-weight: bold;
    width: 59px;
    transition: all .2s ease-in-out; 
}
.btn2 button:hover {
    cursor: pointer;
    transform: scale(1.1); 
}
.btn3 button {
    background-color: #00001d;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 20px;
    font-weight: bold;
    width: 59px;
    transition: all .2s ease-in-out;
}
.btn3 button:hover {
    cursor: pointer;
    transform: scale(1.1); 
}
.back {
    top: 1vh;
    right: 1vh;
    position: absolute;
}
.glist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000043;
    padding: 20px;
    border-radius: 20px;
    height: 420px;
    width: 420px;
    text-align: center;
    overflow-x: hidden;
	overflow-y: scroll;
}
.glist p {
    font-size: 25px;
    text-decoration: underline;
}
.glist a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.glist a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.center-full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}